{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}Cards{% endblock %}</h1>
{% endblock %}


    {% block content %}
    <div class="container-fluid">
        <article class="card">
            <header class="card-header">
                {% if card.flavor_name %}
                <h2>{{ card.flavor_name }}</h2>
                {% else %}
                <h2>{{ card.name }}</h2>
                {% endif %}
            </header>
            <div class="row">
                <div id="image" class="col">
                    {% if card.has_card_faces %}
                    <img src="{{ card.front_face.image_uris.highest_resolution }}" alt="{{ card.front_face.name }}" class="rounded">
                    <img src="{{ card.back_face.image_uris.highest_resolution }}" alt="{{ card.back_face.name }}" class="rounded">
                    {% endif %}
                    <img src="{{ card.image_uris.highest_resolution }}" alt="{{ card.name }}" class="rounded">
                </div>
                <div class="col card-description">
                    <table id="related-parts">
                        <thead>
                            <tr>
                                <th>Related Card Parts</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            </tr>
                        </tbody>
                    </table>

                    {% if card.prints %}
                        {% for print in card.prints %}
                            <a href="{{ url_for('cards.card_by_scry_id', scry_id=print['scryfall_id']) }}"><img src="{{ print['images'].small }}" alt="{{ card.name }}"></a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </article>
    </div>
    {% endblock %}}
