{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
    <h1>Your one stop shop for Magic: The Gathering cards, resources, and community content</h1>
</div>
<div style="display: flex; justify-content: center; align-items: center; height: 50vh; width: 100%;">
    <p style="background-image: url('/static/Mana_Symbols.png'); background-size: contain; background-position: center; background-repeat: no-repeat; width: 35%; height: 100%; margin: 0; padding: 0;"></p>
</div>
<div>
    <!-- <img src="/static/Mana_Symbols.png" alt="weiner" width="">  -->
</div>
{% endblock %}