{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Home{% endblock %}</h1>
{% end block %}

{% block content %}
<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum diam
       quam, euismod quis eros ac, tempus varius nisi. Pellentesque a rutrum 
       tellus. Praesent suscipit lectus sed ante convallis finibus. Maecenas 
       placerat mollis dolor nec posuere. Morbi neque augue, consequat at 
       facilisis et, sagittis in sem. Vestibulum fringilla orci eget ante 
       sollicitudin, ac vestibulum nulla laoreet. Ut laoreet metus quis congue 
       varius. Donec ac gravida tortor. Suspendisse congue diam vitae diam 
       ultrices mollis. </p>
</div>
{% end block %}
